<!DOCTYPE html>
<html>
<head>
<title>Warranty Safe</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/4.6.2/css/font-awesome.min.css}"/>

</head>
<body>
	Index privado

	<!-- Scripts -->
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/angularjs/1.5.5/angular.min.js}"></script>

</body>
</html>